
/bin
*.suo
/sdk/lib
/sdk/win32
/sdk/sdk_libs
/sdk/vsi_sources
/sdk/vsi
vdc/abothe/comserver/obj
vdextensions/obj
*.userprefs
/msbuild/dbuild/obj
/msbuild/dbuild/bin
/msbuild/dbuild/.vs
