  <EnumProperty Name="DCompiler" 
                Category="General"
                DisplayName="D Compiler" 
                Description="select the compiler. Disable to avoid some changed linker defaults.">
    <EnumValue Name="DMD" DisplayName="DMD - Reference compiler" />
    <EnumValue Name="LDC" DisplayName="LDC - LLVM based compiler" />
    <EnumValue Name="None" DisplayName="disable" />
    <!--<EnumValue Name="GDC" DisplayName="GDC - gcc based compiler" />-->
  </EnumProperty>
